input:focus {
  outline: none;
  border: 1px solid rgba(255, 0, 0, 0.8);
  box-shadow: 0 0 0 1px rgba(255, 198, 43, 0.5);
}

body {
  background: linear-gradient(to right, rgb(235, 178, 23), rgb(165, 75, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.searchContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

input {
  border-radius: 1.5px;
  background-color: rgba(255, 198, 43, 0.5);
  margin: 0 auto;
  display: block;
  border: none;
  border-bottom: 1px solid red;
  position: relative;
  z-index: 1;
  font-size: 104%;
  padding: 8px 12px;
}

.searchContainer .suggestions {
  background-color: rgba(255, 198, 43, 0.5);
  position: absolute;
  width: 100%;
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 104%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 8px;
  cursor: pointer;
  font-size: 104%;
}

ul li:hover {
  background-color: rgb(194, 86, 18);
}